$white: #fff;
$black: #111;
$dark-grey: #39424e;

$font: 'Rajdhani', 'sans serif';
$heading-font: 'OperatorMono';
$code-font: 'DankMono';

$body-size: 16px;
$body-text: $white;

$links: $white;
$links-hover: #09cbcb;

$code-block: #000004;
