:root,
[data-theme='light'] {
  --white: #eee;
  --black: #111;
  --dark-grey: #000;
  --accent-color: #09cbcb;
  --light-accent-color: rgba(17,17,17,0.2);

  --background-color: var(--white);

  --font: 'Rajdhani', 'sans-serif';
  --heading-font: 'OperatorMono';
  --code-font: 'DankMono';

  --body-size: 16px;
  --body-text: var(--black);

  --links: var(--black);
  --links-hover: rgb(114, 114, 114);

  --code-block: #000004;
}
