$white: #eee;
$black: #111;
$dark-grey: #000;

$font: 'Rajdhani', 'sans serif';
$heading-font: 'OperatorMono';
$code-font: 'DankMono';

$body-size: 16px;
$body-text: $white;

$links: $white;
$links-hover: #444;

$code-block: #000004;
